.row
  .col-md-4
    %h3
      User: #{user.name}

  .col-md-8
    %h3
      See list of advertises from #{user.name} (#{advertises.count}):
    .advertises-list-wrapper
      %ul.list-group
        - advertises.each do |a|
          = render 'advertise', ad: a
