!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hi, #{@user.name}!
    %p
      #{@current_user.name} just asked you a question through @Netguru_Tablica. Below is the message body.
    %p
      #{@body}
