.title {
  a:link {text-decoration:none;}
  a:visited {text-decoration:none;}
  a:hover {text-decoration:none;}
  a:active {text-decoration:none;}
}

.center {
  text-align: center;
}

.log-in-mail-message {
  border-top: 1px solid gray;
  padding-top: 5px;
}

.email_hash {
  padding-top: 10px;
  border-top: 1px solid gray;
  margin-top: 10px;
}

.email_hash>.form_group>label {
  font-size: 0.9em;
}
