.default {}

.category-icon {
  float: left;
  padding: 2px;
}

#icon_display {
  font-size: 200%;
  margin-left: -2em;
  margin-top: 0.1em;
}

#category-icon {
  color: #999999;
  font-size: 200%;
  padding-right: 0.3em
}

button.btn.dropdown-toggle {
  margin-left: 1em;
}

li.list-group-item {
  background-color: #f8f8f8;
}
