%h2= category.name

.row
  .col-md-2
    %button.btn.btn-default.btn-block{type: "button"}
      .title
        = link_to "Edit", edit_category_path(category)

.row
  .col-md-2
    %button.btn.btn-default.btn-block{type: "button"}
      .title
        = link_to "New", new_category_path

%br
.row
  .col-md-12
    %ol
      = render 'advertises'
