- categories.each do |category|
  %ul.list-group
    = link_to category_path(category) do
      %li.list-group-item 
        = category.name
        = content_tag( :i, '', class: "fa #{category.icon_class}" )
