= simple_form_for :query, url: advertises_path, method: :get do |f|
  = f.text_field :title, html: { placeholder: "title" } 
  = f.submit "Search"

%h2 Welcome to Tablica.pl!
%h3 You can either see other users' resources or add your own. Which category are you intrested in?

= render 'categories'
=======
%p Hello World!

