.row
  .col-md-10.well
    %h2 Welcome to Tablia.pl!
    %h3 You can either see other users' resources or add your own. Which category are you intrested in?
    = render 'categories'
  .col-md-2.well
    = render 'sponsored_advertises'



